<%- include("partials/headers") %>

<h1>
	Campgrounds!
</h1>

<a href="/campgrounds/new">Submit new Campground</a>

<% campgrounds.forEach((campgrounds) => { %>
	<div>
		<h4>
			<%= campgrounds.name %>
		</h4>
		<img src="<%= campgrounds.image %>">
	</div>
<% }) %>

<%- include("partials/footer") %>